#wrapper {
    background-image: url(../img/brushed.png);
    min-height: 100%;
    height: 100%;
    margin: 0px auto -100px;
    width: 100vw;
}

body {
    margin: 0px;
	font-family: sans-serif;
}

header {
	position: fixed;
    height: 100px;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
}

footer {
    height: 100px;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
}